<!--
  File Name: footer.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains the footer of the site as well as some javascript files attached to this aite.
-->

<footer class="navbar-fixed-bottom">
  <div class="row">
  <div class="copyright col-xs-6 col-md-3">
    &copy; 2017 | Prabh
  </div>
    <div class="col-xs-1 col-md-4"></div>
    <div class="col-xs-1 col-md-1">
      <a href="https://www.facebook.com/prabhjitsinghbhamber"><img class="fb" src="../images/fb.png" alt="facebook icon" width="24"></a>
    </div>
    <div class="col-xs-1 col-md-1">
      <a href="https://www.instagram.com/paradoxprabh/"><img class="insta" src="../images/insta-gram.png" alt="instagram icon" width="24"></a>
    </div>
    <div class="col-xs-1 col-md-1">
      <a href="https://twitter.com/prabhsingh160"><img class="twitter" src="../images/twitter-logo.png" alt="twitter icon" width="24"></a>
    </div>
    <div class="col-xs-1 col-md-1">
      <a href="https://www.linkedin.com/in/prabhjit-singh-267237127/"><img class="li-in" src="../images/linkedin-blue.png" alt="linkedin icon" width="24"></a>
    </div>
    <div class="col-xs-1 col-md-1">
      <a href="https://plus.google.com/106836688618153373022"><img class="gplus" src="../images/googleplus.png" alt="google plus icon" width="24"></a>
    </div>
  </div>
</footer>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- Bootstrap js -->
<script src="./javascripts/bootstrap.min.js"></script>

<!-- Bootstrap js -->
<script src="./javascripts/npm.js"></script>

<!-- Overlay Navigation Bar js -->
<script src="./javascripts/nav.js"></script>

</body>
</html>