<!--
  File Name: footer.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains the footer of the site as well as some javascript files attached to this aite.
-->

<footer class="navbar-fixed-bottom">
  &copy; 2017 | Paradox Prabh
</footer>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- Bootstrap js -->
<script src="./javascripts/bootstrap.min.js"></script>

<!-- Bootstrap js -->
<script src="./javascripts/npm.js"></script>

<!-- Overlay Navigation Bar js -->
<script src="./javascripts/nav.js"></script>

</body>
</html>