<!--
  File Name: about.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file has personal information about me.
-->

<% include ./partials/header.ejs %>

<p class="headingPages">A-b-o-u-t</p>

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
<div class="infoBox jumbotron col-xs-6 col-md-8">
    <p class="myInfo">
        <strong>Prabhjit Singh,</strong> a Designer in Graphic & Web fields. He is passionate about his work which requires patience and self-satisfaction.
        He has well knowledge of HTML, CSS, JS, ASP.NET, NodeJS, ExpressJS, PHP & WordPress. In the field of Graphic Designing, he is experienced
        in Adobe Suite which includes PhotoShop, Illustrator, InDesign and he is also expert in CorelDRAW. Beside Designing, he is fond of Music.
        He listens to music a lot as well as he composes music.
    </p>
</div>
</div>

<% include ./partials/footer.ejs %>