<!--
  File Name: about.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file has personal information about me.
-->

<% include ./partials/header.ejs %>

<p class="headingPages">About</p>

<div class="row">

<div class="infoBox col-xs-12 col-md-12">
    <p class="myInfo">
        <strong style="color: #c80000; font-size: 28px; font-family: good-times; letter-spacing: 5px;">
            Prabhjit Singh,
        </strong>

        <br>A Graphic Designer & Front-End Developer. He is passionate about his work which requires patience and self-satisfaction. He believes in perfection and so being focus in one thing at a time.
        Psychology has improved his critical thinking and problem solving skills. He has exceptional knowledge of HTML, CSS, NodeJS, ExpressJS & WordPress. He also has some experience with JavaScript, jQuery, PHP. In the field of Graphic Designing, he is experienced
        in Adobe Suite which includes PhotoShop, Illustrator, InDesign and he is also expert in CorelDRAW.
        <br>Beside Designing, he is fond of Music. Music Production is his another hobby.

        <br>He gained knowledge & experience about Wordpress and improved his Graphic Designing skills in a Co-op at <a href="http://www.miguydigital.ca/"><strong style="font-family: calibri; font-size: 22px;">MiGuy Digital Services.</strong></a>
    </p>
</div>
</div>

<% include ./partials/footer.ejs %>