<!--
  File Name: contact.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains a form that allow the visitors to send me email.
-->

<% include ./partials/header.ejs %>

<p class="headingPages">Contact</p>

<div class="row">
    <div class="col-xs-6 col-md-12">
        <h3 id="email">Email:</h3>
        <p class="email">prabhsingh160@gmail.com</p>
    </div>

    <div class="col-xs-6 col-md-12">
        <h3 id="phone">Phone:</h3>
        <p class="phone">705-970-6331</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-6">
        <h3 id="social">Connect:</h3>
    </div>
</div>

<div class="row socialIcons1">
    <div class="col-xs-3 col-md-1 sIcon">
        <a id="fb"><img class="fb_on" src="../images/fb.png" alt="Facebook icon" width="64"><img class="fb_off" src="../images/fb-filled.png" alt="Facebook icon" width="64"></a>
    </div>
    <div class="col-xs-3 col-md-1 sIcon">
        <a id="insta"><img class="insta_off" src="../images/insta.png" alt="Instagram icon" width="64"><img class="insta_on" src="../images/insta-filled.png" alt="Instagram icon" width="64"></a>
    </div>
    <div class="col-xs-3 col-md-1 sIcon">
        <a id="twitter"><img class="tw_on" src="../images/twitter.png" alt="Twitter icon" width="64"><img class="tw_off" src="../images/twitter-filled.png" alt="Twitter icon" width="64"></a>
    </div>
    <div class="col-xs-3 col-md-9"></div>
</div>

<div class="row socialIcons2">
    <div class="col-xs-3 col-md-1 sIcon">
        <a id="skype"><img class="skype_off" src="../images/skype.png" alt="Skype icon" width="64"><img class="skype_on" src="../images/skype-filled.png" alt="Skype icon" width="64"></a>
    </div>
    <div class="col-xs-3 col-md-1 sIcon">
        <a id="li-in"><img class="li-in_on" src="../images/linkedin.png" alt="LinkedIn icon" width="64"><img class="li-in_off" src="../images/linkedin-filled.png" alt="LinkedIn icon" width="64"></a>
    </div>
    <div class="col-xs-3 col-md-1 sIcon">
        <a id="wapp"><img class="wapp_off" src="../images/whatsapp.png" alt="Whatsapp icon" width="64"><img class="wapp_on" src="../images/whatsapp-filled.png" alt="Whatsapp icon" width="64"></a>
    </div>
    <div class="col-xs-3 col-md-9"></div>
</div>

<% include ./partials/footer.ejs %>
