<!--
  File Name: contact.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains a form that allow the visitors to send me email.
-->

<% include ./partials/header.ejs %>

<p class="headingPages">C-o-n-t-a-c-t</p>

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div class="infoBox jumbotron col-xs-6 col-md-8">
        <form action="http://formspree.io/prabhsingh160@gmail.com" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="_replyto" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea name="body" rows="3" placeholder="type your message"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        </form>
    </div>
</div>

<% include ./partials/footer.ejs %>
