<!--
  File Name: index.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file is the home page of the site.
-->

<% include ./partials/header.ejs %>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <p class="creativeQuote">Creativity is the result <br>of <br>interest <br>and <br>passion</p>
    </div>
</div>

<% include ./partials/footer.ejs %>
