<% include ./partials/header.ejs %>


<div class="jumbo col-xs-12 col-md-12">
    <h4 class="creativeQuote">Creativity is the result of interest and passion</h4><small class="author"> - Prabhjit Singh</small>
</div>

<% include ./partials/footer.ejs %>
