<!--
  File Name: projects.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains some of the projects that I made in Semester 3.
-->

<% include ./partials/header.ejs %>

  <p class="headingPages">Projects</p>

<div class="row">
  <div class="col-xs-6 col-md-6">

  </div>
  <div class="col-xs-6 col-md-6">

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6">

  </div>
  <div class="col-xs-6 col-md-6">

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6">

  </div>
  <div class="col-xs-6 col-md-6">

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6">

  </div>
  <div class="col-xs-6 col-md-6">

  </div>
</div>

<% include ./partials/footer.ejs %>