<% include ./partials/header.ejs %>

<h1>Projects</h1>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/automoblox.png" alt="Project Automoblox" width="360" height="240">
    </a>
  </div>
</div>

<% include ./partials/footer.ejs %>