<!--
  File Name: projects.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains some of the projects that I made in Semester 3.
-->

<% include ./partials/header.ejs %>

  <p class="headingPages">P-r-o-j-e-c-t-s</p>

<div class="row">
  <div class="col-xs-6 col-md-6"></div>
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="../images/automoblox.png" alt="Automoblox">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6"></div>
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="../images/bill.png" alt="Automoblox">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6"></div>
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="../images/book.png" alt="Automoblox">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6"></div>
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="../images/note.png" alt="Automoblox">
    </a>
  </div>
</div>

<% include ./partials/footer.ejs %>