<!--
  File Name: services.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains all the services I offer to clients.
-->

<% include ./partials/header.ejs %>

<p class="headingPages">S-e-r-v-i-c-e-s</p>

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
         <div class="col-xs-6 col-md-4">
              <img src="../images/adobecs.png" alt="Adobe Suite CS">
         </div>
    <div class="col-xs-6 col-md-4"></div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-2">
        <img src="../images/html.png" alt="HTML logo" width="200">
    </div>
    <div class="col-xs-6 col-md-2">
        <img src="../images/css.png" alt="CSS logo" width="200">
    </div>
    <div class="col-xs-6 col-md-2">
        <img src="../images/js.png" alt="JS logo" width="200">
    </div>
    <div class="col-xs-6 col-md-2">
        <img src="../images/aspnet.png" alt="ASP logo" width="200">
    </div>
    <div class="col-xs-6 col-md-2">
        <img src="../images/wordpress.png" alt="WordPress logo" width="240">
    </div>
</div>

<% include ./partials/footer.ejs %>