<!--
  File Name: services.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file contains all the services I offer to clients.
-->

<% include ./partials/header.ejs %>

<p class="headingPages">S-e-r-v-i-c-e-s</p>

<div class="row">
    <div class="col-xs-4 col-md-4">
        <h1> Photoshop </h1>
    </div>

    <div class="col-xs-4 col-md-4">
        <h1> Illustrator </h1>
    </div>

    <div class="col-xs-4 col-md-4">
        <h1> CorelDRAW </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-md-4">
        <h1> HTML </h1>
    </div>

    <div class="col-xs-4 col-md-4">
        <h1> CSS </h1>
    </div>

    <div class="col-xs-4 col-md-4">
        <h1> ASP.NET </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-md-4">
        <h1> Wordpress </h1>
    </div>

    <div class="col-xs-4 col-md-4">
        <h1> Node JS </h1>
    </div>

    <div class="col-xs-4 col-md-4">
        <h1> Express JS </h1>
    </div>
</div>

<% include ./partials/footer.ejs %>