/*
    File Name: nav.css
    Author: W3Schools, Prabhjit Singh
    Website Name: Prabh's Portfolio
    File Description: This file has all the design code (CSS) for overlay navigation bar.
*/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.1);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    padding: 0px 5%;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.8s;
}

.overlay a:hover, .overlay a:focus {
    color: #c80000;
    opacity: 1;
    text-decoration: none;
}

.gotoLink:hover
{
    letter-spacing: 20px;
}

.overlay .closebtn {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
}

.closebtn:hover
{
    color: #c80000;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}