/*
  File Name: style.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file includes all the custom styling used in the site.
*/

body {
  padding: 50px 120px;
  margin: auto;
  color: #fff;
  font-family: "Calibri Light";
  background-image: url("../images/bg.jpg");
}

.hamburgerMenu
{
  position: fixed;
}

footer
{
  padding:20px 50px;
  color: #c80000;
  position: fixed;
  font-family: good-times;
  letter-spacing: 2px;
}

.jumbo
{
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  font-family: good-times;
}

.author
{
  color: #c80000;
  padding: 0px 10px;
}

@font-face {
  src: url('../fonts/good-times-rg.ttf');
  font-family: good-times;
}

li
{
  display: inline;
  padding: 10px 40px;
  margin-right:  30px;
}

a
{
  text-decoration: none;
  color: silver;
  font-size: 18px;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  font-family: good-times;
}

a:hover
{
  color: #c80000;
}

.headingPages
{
  margin: 40px auto;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-family: good-times;
  letter-spacing: 10px;
}

.infoBox
{
  width: 100%;
  padding: 20px;
  text-align: justify;
  border-radius: 20px;
}

.myInfo
{
  color: #000;
}