/*
  File Name: style.ejs
  Author: Prabhjit Singh
  Website Name: Prabh's Portfolio
  File Description: This file includes all the custom styling used in the site.
*/

body {
  padding: 50px 120px;
  margin: auto;
  color: #fff;
  font-family: "Calibri Light";
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
}

p .headingPages
{
  color: #000000;
}

footer
{
  padding:20px 50px;
  color: #c80000;
  position: fixed;
  font-family: good-times;
  letter-spacing: 2px;
  background-color: rgba(255,255,255,0.9);
}

.creativeQuote
{
  display: block;
  margin-left: -35px;
  margin-top: 50px;
  padding: 0 20px;
  color: rgba(0,0,0,0.1);
  font-size: 90px;
  line-height: 100px;
  text-align: left;
  font-family: good-times;
}

@font-face {
  src: url('../fonts/good-times-rg.ttf');
  font-family: good-times;
}

li
{
  display: inline;
  padding: 10px 40px;
  margin-right:  30px;
}

a
{
  text-decoration: none;
  color: silver;
  font-size: 18px;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  font-family: good-times;
}

a:hover
{
  color: #c80000;
}

.headingPages
{
  margin: 40px auto;
  text-align: center;
  color: #000;
  font-size: 36px;
  font-family: good-times;
  letter-spacing: 10px;
  border-bottom: 1px solid #c80000;
}

#email, #phone, #social
{
  font-family: good-times;
  letter-spacing: 5px;
  color: #c80000;
}

.email, .phone
{
  font-family: Calibri Light;
  font-size: 28px;
  letter-spacing: 2px;
  color: #000;
}

#social
{
  margin-top: 50px;
}

/* Facebook icon image change on Hover */
.fb_off, #fb:hover .fb_on{
  display:none
}
.fb_on, #fb:hover .fb_off{
  display:block
}

/* Instagram icon image change on Hover */
.insta_off, #insta:hover .insta_on{
  display:none
}
.insta_on, #insta:hover .insta_off{
  display:block
}

/* Twitter icon image change on Hover */
.tw_off, #twitter:hover .tw_on{
  display:none
}
.tw_on, #twitter:hover .tw_off{
  display:block
}

/* Snapchat Snapcode icon image change on Hover */
.snap_off, #snap:hover .snap_on{
  display:none
}
.snap_on, #snap:hover .snap_off{
  display:block
}

/* LinkedIn icon image change on Hover */
.li-in_off, #li-in:hover .li-in_on{
  display:none
}
.li-in_on, #li-in:hover .li-in_off{
  display:block
}

/* Google Plus icon image change on Hover */
.gplus_off, #gplus:hover .gplus_on{
  display:none
}
.gplus_on, #gplus:hover .gplus_off{
  display:block
}

.sIcon
{
  padding: 40px;
  margin-left: 40px;
}

.infoBox
{
  top:-35px;
  height: 500px;
  padding: 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0px;
}

.myInfo
{
  color: #000;
  text-align: center;
  font-size: 22px;
  font-family: Calibri;
  line-height: 45px;
}

.copyright
{
  font-size: 16px;
}

@media screen and (max-width: 960px)
{
  .copyright
  {
    font-size: 14px;
  }

  footer
  {
    font-size: 12px;
  }

  .author
  {
    font-size: 12px;
  }

  .creativeQuote
  {
    display: inline;
    margin-top: 25px;
    font-size: 46px;
    line-height: 2;
    color: #000;
  }

  #email, #phone, #social
  {
    font-size: 20px;
  }

  .email, .phone
  {
    font-size: 20px;
  }

  .sIcon img
  {
    width: 64px;
  }
}